.btns {
    background-color: #fff;
    color:#ccc;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    &.primary {
        background-color: green;
        color: #fff;
    }
}